html, body, h1, h2, h3, h4, p, img, ul, li {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

body {
	background-color:#000000;
}

h1 {
	font-family:Impact, fantasy;
	font-size:3rem;
	background-color:#33ccff;
	margin:1rem;
	padding:1rem;
}

h2 {
	font-size:1.5rem;
	color:#ffffff;
	padding:1rem;
}

p {
	font-size:1.5rem;
	color:#404040;
}

form {
	background-color:#33ccff;
	margin:1rem;
	padding:1rem;
}

ul {
	list-style-type:none;
	background-color:#33ccff;
	margin:1rem;
	padding:1rem;
}

h3, li {
	display:inline;
	font-color:#000000;
}

h4 {
	background-color:#3333ff;
	padding:2rem;
	width:4rem;
}

.signupImage {
	position:absolute;
	transform:translate(40rem, 0);
	height:6rem;
	width:9rem;
	margin-right:2rem;
}
